ci:
  autofix_prs: false
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict
      - id: name-tests-test
  - repo: 'https://github.com/codespell-project/codespell'
    rev: v2.2.6
    hooks:
      - id: codespell
  - repo: 'https://github.com/charliermarsh/ruff-pre-commit'
    rev: v0.2.0
    hooks:
      - id: ruff
        args:
          - '--fix'
          - '--exit-non-zero-on-fix'
      - id: ruff-format
  - repo: 'https://github.com/pre-commit/mirrors-mypy'
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies:
          - click >= 8.1.0, != 8.1.4
          - globus-sdk
          - parsl
          - quart
          - types-redis
          - types-requests
          - uvicorn
          - websockets
