asynctest
black
covdefaults>=2.2
coverage
flake8
flake8-bugbear
flake8-docstrings
mypy
pep8-naming
pre-commit
pytest
pytest-asyncio
pytest-cov
pytest-timeout
tox
types-redis
types-requests
virtualenv
